$def with (errorCode)

<!-- 
  2013-13-06: jonathanmarsh
    - Converted to web.py template, retaining 99% of older look and feel
    - Moved inline styling to stylesheet
    - Moved inline behaviors to jQuery.
    Note that the normal jQuery use of the dollar sign conflicts with the templating syntax - used the longer jQuery() throughout.
-->

$code:
	opts = gv.options
	languages = i18n.languages
	langKeys = i18n.languages.keys()
	langKeys.sort()
	snames = eval(data('snames'))

$code:
	days= json.dumps([_('Sunday'), _('Monday'), _('Tuesday'), _('Wednesday'), _('Thursday'), _('Friday'), _('Saturday')])
	months = json.dumps([_('January'), _('February'), _('March'), _('April'), _('May'), _('June'), _('July'), _('August'), _('September'), _('October'), _('November'), _('December')])


<html>
<head>
	<meta name="viewport" content="width=640">
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<title>$_("OpenSprinkler Pi Options") ${" - "+gv.sd['name'] if gv.sd['name']!="OpenSprinkler Pi" else ""}</title>
	<link href="/static/images/favicon.ico" rel="icon" type="image/x-icon">
	<link href="${gv.baseurl}/static/themes/${gv.sd['theme']}/base.css" rel="stylesheet" type="text/css"/>	
	<style type="text/css">
		button#tooltip {height:24px;}				
		.tooltip {background-color:#FFF2B8; display:none; font-size:10pt; margin-left:4px;}
		.label {font-weight:bold; float:left; width:160px; text-align:right; padding-right:4px;}
		.option {margin: 6px 0px; clear:both;}
	</style>
	<script src="${gv.baseurl}/static/scripts/jquery-1.8.2.min.js"></script>
	<script>
		// Variables set by ospi.py
		var devt = ${gv.now}*1000;
		var tz = ${gv.sd['tz']};
		var timeFormat = ${gv.sd['tf']};
		var cputemp = "${gv.cputemp}";
		var tempunit = "${gv.sd['tu']}";
		var errorCode = "${errorCode}";
		//var rbt = "${gv.sd['rbt']}";
	</script>
	<script>
		// date/time formating helpers
		var dayList = $:{days};
    	var monthList = $:{months}
    </script>
	<script src="${gv.baseurl}/static/scripts/behaviors.js"></script>
	<script>		
		// Initialize behaviors
		jQuery(document).ready(function(){
			
			jQuery("button#tooltips").click(function(){
				var visible = jQuery(this).text() == $:{json.dumps(_("Hide Tooltips"), ensure_ascii=False)};
				jQuery(this).text(visible ? $:{json.dumps(_("Show Tooltips"), ensure_ascii=False)} : $:{json.dumps(_("Hide Tooltips"), ensure_ascii=False)});
				jQuery(".tooltip").toggle();
			});
			
			jQuery("button#cReboot").click(function(){
				jQuery("input[name='rbt']").val(1);
				jQuery("form[name='of']").submit();				
			});
			
			jQuery("button#cSubmit").click(function(){
				// process time zone value
				var th = parseInt(jQuery("input[name='th']").val(),10);
				var tq = parseInt(jQuery("input[name='tq']").val(),10);
				tq = (tq/15>>0)/4.0;
				th = th+(th>=0?tq:-tq);
				jQuery("input[name='otz']").val(((th+12)*4)>>0);
				jQuery("form[name='of']").submit();
			});
			
			jQuery("button#cCancel").click(function(){
				window.location="/";
			});
			
			jQuery(".collapsible h4").click(function(event){
				jQuery(this).parent(".category").toggleClass("expanded").toggleClass("collapsed");
			});
			
			switch (errorCode) {
				case "pw_wrong":
					jQuery("#erroropw").text($:{json.dumps(_("The password given was incorrect."))});
					jQuery("#erroropw").parents(".collapsible").toggleClass("expanded").toggleClass("collapsed");
					break;
				case "pw_blank":
					jQuery("#errornpw").text($:{json.dumps(_("Please enter a password."))});
					jQuery("#errornpw").parents(".collapsible").toggleClass("expanded").toggleClass("collapsed");
					break;
				case "pw_mismatch":
					jQuery("#errorcpw").text($:{json.dumps(_("Passwords done't match, please re-enter."))});
					jQuery("#errorcpw").parents(".collapsible").toggleClass("expanded").toggleClass("collapsed");
					break;
			}

			jQuery(".collapsible h4").first().parent(".category").toggleClass("expanded").toggleClass("collapsed");
			
		});

	</script>
</head>
<body>
	<div class="content">

		<div class="header">
			<div class="title">${gv.sd['name'] if gv.sd['name']!="OpenSprinkler Pi" else ""}</div>
		</div>
			
		<div class="body">
		
			<div id="status">
				<p id="deviceTime"><span class="hour"></span><span class="sep">:</span><span class="minute"></span><span class="second"></span><span class="ampm"></span></p>
				<p id="deviceDate"></p>
			</div>
	
			<div class="panel">
			
				<div id="nav">
					<button id="bHome" class="home" title=$:{json.dumps(_("Home"), ensure_ascii=False)}>$_('Home')</button>
					<button id="bPrograms" class="programs" title=$:{json.dumps(_("Define Programs"), ensure_ascii=False)}>$_('Programs')</button>
					<button id="bRunOnce" class="start" title=$:{json.dumps(_("Define Run Once Program"), ensure_ascii=False)}>$_('Run Once')</button>
					<button id="bLog" class="log" title=$:{json.dumps(_("View Log"), ensure_ascii=False)}>$_('Log')</button>
					<button id="bOptions" class="options here" title=$:{json.dumps(_("Options"), ensure_ascii=False)}>$_('Options')</button>
					<button id="bStations" class="stations" title=$:{json.dumps(_("Configure Stations"), ensure_ascii=False)}>$_('Stations')</button>
					$if not(gv.sd['ipas']):
						<button id="bLogout" class="logout" title=$:{json.dumps(_("Logout"), ensure_ascii=False)}>$_('Logout')</button>
				</div>

				<div id="options">
					<div class="title">$_('Edit Options')</div>
					<button id="tooltips">$_('Show Tooltips')</button>
					<form name="of" action="co" method="get">
					$code:
						output = ""
						oldcategory = ""
						categoryCloser = ""
						for opt in opts:
							label = opt[0]
							datatype = opt[1]
							if datatype != "password":
								opvalue = gv.sd[opt[2]]
							name = opt[2]
							tooltip = opt[3]
							category = opt[4]
							
							if category != oldcategory:
								output += categoryCloser + "<div class='category collapsible collapsed'><h4>" + category + "</h4>"
								categoryCloser = "</div>"
							oldcategory = category
							output += "<div class='option' title='" + tooltip + "'><span class='label'>" + label + ":</span>\n"
							if datatype == "boolean":
								output += "<input name='o" + name + "' type='checkbox' " + ("checked" if opvalue>0 else "") + ">\n"
							elif datatype == "string":
								output += "<input name='o" + name + "' type='text' size='31' maxlength='31' value='" + opvalue + "'>\n"
							elif datatype == "password":
								output += "<input name='" + name + "' type='password' size='31' maxlength='31'><span class='inputError' id='error" + name + "'></span>\n"
							
							elif name == "lang":
								output += "<select name= 'olang'>\n"
								output += "<option " + ("selected " if opvalue=='default' else "") + "value='default'>"+_('Default')+"</option>\n"
								for L in langKeys:
									output += "<option " + ("selected " if opvalue==L else "") + "value='"+L+"'>"+languages[L]+"</option>\n"
								output += "</select>\n"
							
							elif name == "tz":
								output += "<input name='otz' type='hidden' value='0'>\n"
								tz = opvalue - 48
								th = ("+" if tz>=0 else "-") + str(abs(tz)/4>>0)
								tq = str((abs(tz)%4)*15/10>>0) + str((abs(tz)%4)*15%10)
								output += "<input name='th' type='text' size='3' maxlength='3' value='"+ th +"'>:<input name='tq' type='text' size='3' maxlength='3' value='" + tq + "'>\n"
							elif name == "mas":
								output += "<select name='omas'>\n"
								output += "<option " + ("selected " if opvalue==0 else "") + "value='0'>"+_('None')+"</option>\n"
								for i in range(0,8):
									if (gv.sd['show'][0]>>i)&1 == 1:
										output += "<option " + ("selected " if opvalue==i+1 else "") + "value='" + str(i+1) + "'>" + snames[i] + "  ("+_('Station')+" " + str(i+1) + ")</option>\n"
								output += "</select>\n"
							elif name == "htp":
								output += "<input name='ohtp' type='text' size='5' maxlength='5' value='" + str(opvalue) + "'>\n"
							elif name == "nbrd":
								output += "<input name='onbrd' type='text' size='3' maxlength='3' value='" + str(opvalue - 1) + "'>\n"
							else:
								output += "<input name='o" + name + "' type='text' size='3' maxlength='3' value='" + str(opvalue) + "'>\n"
										
							output += "<span class='tooltip'>" + tooltip + "</span>\n"
							output += "</div>\n\n"
						output += categoryCloser + "<div class='category collapsible collapsed'><h4>"+_('System Reboot')+"</h4>"
						output += "<div class='option' title="+json.dumps(_('Reboot system'), ensure_ascii=False)+"><button id='cReboot' class='reboot danger'>"+_('Reboot')+"</button></div>\n"
						output += categoryCloser					
					$:{output}
						<input type="hidden" name="rbt" value="0">
					</form>
				</div>
				
				<div id="controls">
					<button id='cSubmit' class="submit">$_("Submit Changes")</button>
					<button id='cCancel' class="cancel danger">$_("Cancel")</button>
				</div>
			</div>
		</div>
		
		<div class="footer">
			<p>$_("CPU Temp"): <b><span id="heat" style="cursor:pointer" title="Click to toggle Celsius &lt;&gt; Fahrenheit"></span></b></p>
			<p><a href="https://github.com/Dan-in-CA/OSPi">$_("Software")</a> $_("version"): <b>${".".join(list(str(gv.ver)))}</b></p>
		</div>
	</div>
</body>
</html>